/*///////////////////////////////////////////////////*\

$COLORS

/*/
/*///////////////////////////////////////////////////*\

$ARRAY

/*/
div {
  padding: 5px; }

/*///////////////////////////////////////////////////*\

$SCREEN

/*/
/*///////////////////////////////////////////////////*\

$TIPOGRAFIA

/*/
/*///////////////////////////////////////////////////*\

$SIZES

/*/
/*///////////////////////////////////////////////////*\

$BUTTOMS

/*/
/*BLOCK*/
.btn {
  display: inline-block;
  color: white;
  background-color: red;
  border-radius: border-radius;
  /*ELEMENT*/
  /*MODIFER*/ }
  .btn__icon {
    font-size: .6em; }
  .btn .btn--info {
    background-color: yellow; }
  .btn .btn--inverse {
    background-color: cyan; }

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  background-color: blue; }
  @media only screen and (min-width: 720px) {
    section {
      background-color: red; } }

p {
  font-size: 12px; }

h1 {
  font-size: 20px; }

.max-width--huge {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%; }

header {
  background-color: #24ff24; }

.modal {
  z-index: 500; }

h1 {
  color: red; }
