/*///////////////////////////////////////////////////*\

$ARRAY

/*///////////////////////////////////////////////////*\

$colors:(
    color-blue:blue,
    color-lightblue:lighten($color-blue,25%)
);

$fs :(
    xs:12px,
    sm:15px,
    md:20px
);

$z-indexs:(
    default:1,
    over:10,
    dropdown:100,
    animation:200,
    modal:500,
    overlay:600,
    tooltip:700
);

// %FUNCIONES
@function suma ($numero-uno,$numero-dos){
    @return $numero-uno + $numero-dos;
  }
  
  div{
    padding:suma(2px,3px);
  }//ejemplo

@function setIndex($capa){
    @return map-get($z-indexs,$capa );
}

/*///////////////////////////////////////////////////*\
$list-colors: red,blue,yellow,green,orange;

@each $font in(normal,bold,italic){
  .#{$font}{font-weight:$font;}
}

@each $color in($list-colors){
  .#{$color}{color:$color;}
}

Uso de each

@for $i from 1 to 5 {
  .class--#{$i}{
    color:"#{$i}";
  }
}

Uso de FOR EACH
/*///////////////////////////////////////////////////*\
