/*///////////////////////////////////////////////////*\

$COLORS

/*///////////////////////////////////////////////////*\

$red:red;
$color-blue:blue;
$color-lightblue:lighten($color-blue,25%);
$color-shadow:black;
$color-green:green;
$color-greenLive:lighten($color-green,32%);
$color-darkgreen:darken($color-shadow,40%);
$color-inverse-red:invert($red);


//Textures

$color-info:yellow;
$color-danger:red;
$color-success:green;
$color-primary:blue;
$color-default:white;

//Esto es de prueba,boostrap ya trae todos estos colores
//solo estoy jugando con variables

//Tipografia

$baseFont:"Quicksand",san-serif;
$baseFontSize:16px;

$button-color:$color-default;
$buttonbgcolor:$red;

//Constantes
$border-radius: 3px;
$max-page-width:1200px;