section {
    @include centrado;
    background-color: blue;
    @include respont-to($tablet){
        background-color: red;
    }//La palabra reservada @content, lo que nos permite es basicamente 
    //pasar bloques de codigo como parametro de nuestro mixin. es este caso reacciona
    //al breakpoint indicado en el mixin y cambia el bg al llegar a $tablet. para section


}

p{
    font-size: map-get($fs, xs );
}

h1{
    font-size: map-get($fs, md )
}

.max-width--huge{
    @include centrado(80%);
}

header{
    background-color: $color-greenLive;
}

.modal{
    z-index: setIndex(modal);
}