@mixin centrado($max-width :$max-page-width) {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
}

@mixin respont-to($width){
 @media only screen and (min-width:$width){
     //ejemplo de uo de la directiva content util para responsive
     @content;
 }
}