/*///////////////////////////////////////////////////*\

$BUTTOMS

/*///////////////////////////////////////////////////*\

//B
//E
//M

 /*BLOCK*/
.btn{
    display: inline-block;
    color: $button-color;
    background-color: $buttonbgcolor;
    border-radius: border-radius;
    /*ELEMENT*/
    &__icon{
        font-size: .6em;
    }
    //de esta forma el resultado es btn__icon
    /*MODIFER*/
    .btn--info{
        background-color: $color-info;
    }

    .btn--inverse{
        background-color: $color-inverse-red;
    }
    //de esta forma es btn btn--info (ambas clases)
}

//Clase de anidaciones