/*///////////////////////////////////////////////////*\

$TIPOGRAFIA

/*///////////////////////////////////////////////////*\

$h1f:bold;
$h2f:bold;
$h3f:bold;


/*///////////////////////////////////////////////////*\

$SIZES

/*///////////////////////////////////////////////////*\

$h1s:41px;
$h2f:30px;
$h3f:22px;
